// FOOTER
.footer {
  background: darken($dark-grey, 30%);

  &-omf__logo {
    width: 100px;
    margin: 10px 0;
    filter: invert(1);
  }

  &-insert {
    padding: 30px;

    &__link {
      display: block;
      color: white;
      margin: 10px 0;
    }

    &__icon {
      width: 30px;
    }
  }
}

// BREAKPOINT DESKTOP FOOTER 
@media screen and (min-width: 1025px) {
  .footer-insert {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__title {
      margin-left: 10vw;
      order: 1;
    }

    &__link {
      margin-left: 3vw;
    }
  }
}